* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  height: 70px;
  width: 100vw;
  background-color: #1f1b1b;
  /* box-shadow: 0px 2px 20px aqua; */
}

.nav__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /* background-color: #fff; */

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.nav__title {
  font-size: 1.8rem;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav__links a {
  color: aqua;
  /* color: #646cf}f; */
  font-weight: 500;
  text-decoration: inherit;
  font-size: 1em;
  text-transform: capitalize;
  transition: color ease-in 0.2s;
}

.nav__links a:hover {
  color: #535bf2;
}

.nav__title,
.nav__links a {
  letter-spacing: 1.5px;
}
