* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  height: 70px;
  width: 100vw;
  background-color: #1f1b1b;

  box-shadow: 0px 2px 20px black;
  position: fixed;
  z-index: 100;
}

.nav__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /* background-color: #fff; */

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.nav__title {
  font-size: 1.9rem;
  /* font-weight: 900; */
  color: #535bf2;
  text-shadow: 0 0 23px #535bf2;

  animation: shadow-animation 3.5s infinite;
}

@keyframes shadow-animation {
  0% {
    text-shadow: 0 0 0px #535bf2;
  }
  50% {
    text-shadow: 0 0 25px #535bf2;
  }
  100% {
    text-shadow: 0 0 0px #535bf2;
  }
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav__links a {
  /* color: aqua; */
  color: white;
  /* color: #646cf}f; */
  font-weight: 500;
  text-decoration: inherit;
  font-size: 1em;
  text-transform: capitalize;
  transition: color ease-in 0.2s;
}

.nav__links a:hover {
  color: #535bf2;
  border-bottom: 2.3px solid #535bf2;
}

.nav__title,
.nav__links a {
  letter-spacing: 1.5px;
}

/* rgba(0, 0, 0, 0.55) 0px 20px 68px */

.home {
  /* position: absolute; */
  /* top: 70px; */
  /* background-color: rgb(19, 16, 16); */
  /* height: calc(100vh - 70px); */

  /* background-color: black; */
  /* background-color: white; */
  /* background: white; */
  /* background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.container {
  position: absolute;
  top: 70px;

  background-color: rgb(19, 16, 16);
  height: calc(100vh - 70px);
  /* width: 100vw; */
  /* margin: 0 auto; */
}

.home__container {
  /* background-color: #535bf2; */
  height: 100%;
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 50px;
}

.home__texts {
  width: 50%;
  /* background-color: gray; */

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home__title {
  font-size: 3rem;
  letter-spacing: 1.5px;
}

.home__title span {
  color: #535bf2;
}

.home__paragraph {
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* font-size: 1rem; */
}
.home__image {
  width: 30%;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* margin: 0 auto; */
  /* height: 50%; */
  /* background-color: #fff; */
  /* overflow: hidden; */
}

.home__img {
  width: 90%;
  /* height: 100%; */
  border-radius: 30% 70% 70% 30% / 27% 30% 70% 73%;
  object-fit: cover;
  transition: box-shadow ease-in 0.4s;
}

.home__img:hover {
  box-shadow: 0 0 30px #535bf2;
  cursor: pointer;
}
.btn__cta {
  background-color: #535bf2;
  width: 100px;
  display: inline-block;
  padding: 9px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow ease-in 0.3s;
}

.btn__cta:hover {
  box-shadow: 0 0 30px #535bf2;
}

.cards {
  /* height: calc(100vh - 70px); */
  /* width: 90vw; */
  /* margin: 0 auto; */

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */

  /* background-color: red; */
}

.cards__container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  background-color: red;
}

.card {
  /* background-color: rgb(31, 28, 28); */
  width: 340px;
  height: 380px;

  border-radius: 30px;
  padding: 33px;
}

.card__container {
  /* background-color: #fff; */
}

.card__title {
  font-size: 1.6rem;
  margin-bottom: 20px;

  color: #535bf2;
  /* font-weight: 700; */
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.card__paragraph {
  font-size: 1rem;
  font-weight: 500;
}
